
.no-shadow {
  box-shadow: none;
}

body {
  margin-top: 150px;
  //border: red solid 1px;
}

.main {



}

.box{
  padding: 15px;
  background: #F7F7F7;
  //height: 300px;
}




#navbar{

  z-index: 9999;
  height: 170px;
  width: 300px;
  padding-top: 20px;
  background: url("../_images/mini_map.png") #fff no-repeat center center;

  #nav_hover_grid {
    width: 116px;
    height: 86px;
    background: black;
    //opacity: .08;
    margin-left: 90px;


  }

}





#mobile_nav {
  z-index: 9999;
  //top: 150px;
}


.nav {

  width: 5px;
  margin-top: 30px;
  //margin-left: 45px;
}

.nav li {
  list-style-type: none;
}

.nav li a{
  float: left;
  width: 10px;
  height: 5px;
  //padding: 5px 0;
  background: #87ceeb;
  border: none;

}
.nav li a:hover{
  color: #f33 !important;
  background: #87ceeb;
}
.nav li.active a{
  background: #db7093;
}




#south_group1 {


}

#south_group2 {


}

#south_group3 {


}

#south_group4 {

}






.col-header {

  //height: 50px !important;



}




//******* Bracket Navigation **********

#bracket_nav {


  margin-top: 120px;
  margin-left: 45px;
  //float: left;


  .bracket_button {

    float: left;
    margin: 5px;
    height: 20px;
    padding: 5px;

    background: #a9a9a9;
      &:hover {
        cursor: pointer;
      }
  }

} // end bracket nav





body{

  //margin-top: 500px;

}



.affix {
  z-index: 9999;
  position: fixed;
  top: 0px;
  //left: 0px;
}






#bracket_container {
  overflow: auto;
}























