div#bracketWrp16 {background: url(/themes/bracket/_images/bracketBg16.jpg) no-repeat center center; overflow: hidden; min-height: 518px; position: relative; margin-top: 5px; width: 630px; display: block; }

.bracketLeft{float:left; width:625px;}
.bracketFinalsLeft{float:left; width:404px; background:transparent url("../../media/imgs/shared/bg-bracket-border-champion.gif") no-repeat center right;}
.bracketFinalsRight{float:right; width:220px; margin-right:1px;}

#regionEast{margin-top: 25px;}



.round1title{width:129px;}
.round2title,
.round3title,
.round4title{width: 119px;}
.round5title{width: 128px;}

.bracketLeft .bracketColumn3, .bracketLeft .bracketColumn4 , .bracketLeft .bracketColumn5{margin-left:0; }
  
  .bracketColumn1{width:130px;}
  .bracketColumn2, 
  .bracketColumn3, 
  .bracketColumn4{width:120px;}
  .bracketColumn5{width:120px;}
  .bracketColumnFinals{width:120px;}
  .bracketColumnFinal{width:100px;}
  .bracketColumnChampion{width:150px;}
  

  
.round1{width:130px;}
  
.round2,
.round3,
.round4{
  width:120px;
}
.round5,
.roundFinals{
  width:120px;
}
.roundFinal{
  width:100px;
}
.roundChampion{
  width:150px;
}
  
  .round1 .teamContainer{
    width: 129px;

  }
  .round2 .teamContainer,
  .round3 .teamContainer,
  .round4 .teamContainer{
    width: 119px;

  }  
  .round5 .teamContainer,
  .roundFinals .teamContainer{
    width: 120px;

  }
  .roundFinal .teamContainer{
    width: 100px;

  }
    .roundChampion .teamContainer{
      width: 150px;
      height: 27px;

    }
  .roundChampion .team{
    font-size:14px;
    font-weight:bold;
    text-align:center;
    color:#000;
  }
  .roundChampion .seed{
    display:none;
  }
  .round2 .teamContainerBG,
  .round3 .teamContainerBG,
  .round4 .teamContainerBG,
  .round5 .teamContainerBG,
  .roundFinals .teamContainerBG{

  }
  .roundFinal .teamContainerBG{

  }
  
  .bracketLeft .teamContainer,
  .bracketFinalsLeft .teamContainer{
    float: left;
    text-align: left;
  }
  .bracketFinalsRight .teamContainer{
    float: right;
    text-align: right;
  }
.bracketLeft .team,
.bracketFinalsLeft .team,
.bracketFinalsRight .team{

}

div#bracketLogo16 {
    height: 70px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 30px;
    width: 227px;
}
